.m_tlist{
    position:absolute;
    top:38px;
    right:-43px;
    width:158px;
    background:#2b2b2b;
    border:1px solid #202020;
    box-shadow:0 8px 24px 0 rgba(0,0,0,.5);
    border-radius:4px
}
.f_cb{
    zoom:1
}
.m_tlist li,.m_tlist li a{
    float:left;
    box-sizing:border-box;
    width:100%
}

.m_tlist a {
    position: relative;
    height: 38px;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 24px;
    color: #ccc;
    line-height: 39px;
}

.m_tlist .icn_mb {
    background-position: 0 0;
}
.m_tlist .icn {
    float: left;
    width: 18px;
    height: 18px;
    margin: 10px 10px 0 -7px;
}
.m_tlist .icn, .m_tlist .arr {
    background: url('../../assets/toplist.png') no-repeat 0 9999px;
}